/*=============================================header css=============================================*/
body {
    position: relative;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #161B36;
    height: 45px;
    z-index: 1;
    top: 0;
}

nav > ul {
    position: absolute;
    top: 0;
    height: 20px;
    right: 30px;
    list-style: none;
}

nav > ul > li {
    display: inline-block;
    padding: 0 20px 0 20px;
    font-size: 20px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
}

nav > ul > li > a:hover {
    color: #E74C3C;
    cursor: pointer;
}

nav > h1 {
    font-size: 33px;
    position: absolute;
    left: 0;
    font-weight: bold;
    margin: 7px;
    cursor: pointer;
    font-family: 'Ubuntu Condensed', sans-serif;
}

nav > h1:nth-child(1) {
    color: #E74C3C;
}

nav > h1:nth-child(2) {
    color: white;
    left: 33px;
}

/*=============================================page 1 css=============================================*/
.pageOne {
    position: relative;
    background-color: #161B36;
    height: 590px;
    top: 45px;
}

.pageOne > img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 382px;
    height: 547px;
    opacity: 70%;
}

#icons {
    position: absolute;
    font-size: 30px;
    color: white;
    top: 180px;
    left: 120px;
}

#fbIcon {
    margin-right: 50px;
}

#instagramIcon {
    margin-right: 50px;
}

#linkedinIcon {
    margin-right: 50px;
}

#twitterIcon {
    margin-right: 50px;
}

.pageOne > section:nth-child(1) > h1, h2 {
    position: absolute;
    font-family: sans-serif;
    margin: 0;
    left: 120px;
}

.pageOne > section:nth-child(1) > h1 {
    font-size: 30px;
    color: white;
    top: 245px;
    letter-spacing: 4px;
}

.pageOne > section:nth-child(1) > h2 {
    font-size: 35px;
    color: #E74C3C;
    top: 280px;
    letter-spacing: 3px;
}

#button_1{

    width: 120px;
    height: 30px;

    border-radius: 3px;
    display: inline;
    position: absolute;
    top: 334px;
    left: 120px;
    border: 2px solid white;

}
#button_1>p{
    font-size: 20px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    position: absolute;
    left: 5px;
    margin: 5px;

}
#button_1:hover{
    cursor: pointer;
    border-color: #E74C3C;
}
#button_1:hover p{
 color: #E74C3C;
}

