/*=============================================header css=============================================*/
body {
    position: relative;
    background-color: #161B36;
}

main {
    position: relative;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #161B36;
    height: 45px;
    z-index: 1;
    top: 0;
}

nav > ul {
    position: absolute;
    top: 0;
    height: 20px;
    right: 30px;
    list-style: none;
}

nav > ul > li {
    display: inline-block;
    padding: 0 20px 0 20px;
    font-size: 20px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
}

nav > ul > li > a:hover {
    color: #E74C3C;
    cursor: pointer;
}

nav > h1 {
    font-size: 33px;
    position: absolute;
    left: 10px;
    font-weight: bold;
    margin: 7px;
    cursor: pointer;
    font-family: 'Ubuntu Condensed', sans-serif;
}

nav > h1:nth-child(1) {
    color: #E74C3C;
}

nav > h1:nth-child(2) {
    color: white;
    left: 45px;
}

/*=============================================page 1 css=============================================*/
.pageOne {
    position: relative;
    background-color: #161B36;
    height: 606px;
    top: 45px;
}

.pageOne > img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 382px;
    height: 547px;
    opacity: 70%;
}

#icons {
    position: absolute;
    font-size: 30px;
    color: white;
    top: 180px;
    left: 120px;
}

#fbIcon {
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

#fbIcon:hover {
    color: #E74C3C;
    cursor: pointer;
}

#instagramIcon {
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

#instagramIcon:hover {
    color: #E74C3C;
    cursor: pointer;
}

#linkedinIcon {
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

#linkedinIcon:hover {
    color: #E74C3C;
    cursor: pointer;
}

#twitterIcon {
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

#twitterIcon:hover {
    color: #E74C3C;
    cursor: pointer;
}

.pageOne > section:nth-child(1) > h1 {
    position: absolute;
    font-family: sans-serif;
    margin: 0;
    left: 120px;
    font-size: 30px;
    color: white;
    top: 245px;
    letter-spacing: 4px;
}

.wrapper {
    position: relative;
    top: 260px;
    left: 50px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-flex;
}

.wrapper > ul {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.wrapper > ul > li {
    color: #E74C3C;
    font-family: sans-serif;
    list-style: none;
    font-size: 59px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slideing 6s steps(4) infinite;

}

@keyframes slideing {
    100% {
        top: -360px;
    }
}

.wrapper > ul > li > span {
    position: relative;
}

.wrapper > ul > li > span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #161B36;
    border-left: 2px solid white;
    animation-delay: 5s;
    animation: typing 1.5s steps(20) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

/*=============================================page 2 css=============================================*/
.pageTwo {
    position: relative;
    background-color: #ECF0F1;
    height: 705px;
    top: 0;
}

#pageTwoName {
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 70px;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}

#myImg2 {
    border-style: none;
    position: relative;
    bottom: -50px;
    left: 100px;
}

#aboutMeSection1 {
    position: relative;
    width: 706px;
    top: -375px;
    bottom: 101px;
    left: 550px;
    height: 196px;
    background-color: #161B36;

}

#aboutMeSection2 {
    position: relative;
    width: 706px;
    top: -365px;
    bottom: 101px;
    left: 550px;
    height: 196px;
    background-color: #161B36;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
}

#aboutMeText {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

#aboutMeSection2 > dl {
    position: relative;
    top: 40px;
}

#aboutMeSection2 > dl > dt {
    position: relative;
    left: 40px;
    font-size: 18px;
    color: #E74C3C;
    font-family: sans-serif;
    padding-bottom: 10px;
}

#aboutMeSection2 > dl > dd {
    position: relative;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    padding-bottom: 20px;
}

#DownloadCV {
    position: relative;
    border: 1px solid #E74C3C;
    color: #E74C3C;
    background-color: #161B36;
    height: 40px;
    left: 450px;
    bottom: 30px;
    padding: 7px;
    text-decoration: none;
}

#DownloadCV:hover {
    border-color: white;
    color: white;
    cursor: pointer;
}

#icons2 {
    position: absolute;
    font-size: 30px;
    color: white;
    top: 50px;
    left: 372px;
}

#fbIcon2 {
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

#instagramIcon2 {
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

#linkedinIcon2 {
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

#twitterIcon2 {
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

#fbIcon2:hover {
    color: #E74C3C;
    cursor: pointer;
}

#instagramIcon2:hover {
    color: #E74C3C;
    cursor: pointer;
}

#linkedinIcon2:hover {
    color: #E74C3C;
    cursor: pointer;
}

#twitterIcon2:hover {
    color: #E74C3C;
    cursor: pointer;
}

/*=============================================page 3 css=============================================*/
.pageThree {
    position: relative;
    background-color: #161B36;
    height: 1300px;
    top: 0;
}

#pageThreeName {
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 70px;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}

#mainLine {
    position: absolute;
    background-color: #E74C3C;
    height: 1000px;
    width: 8px;
    top: 170px;
    align-items: center;
    left: 50%;
}

#line1 {
    position: absolute;
    background-color: #E74C3C;
    height: 8px;
    width: 396px;
    top: 325px;
    left: 50%;
}

#line2 {
    position: absolute;
    background-color: #E74C3C;
    height: 8px;
    width: 396px;
    top: 500px;
    left: 21%;
}

#line3 {
    position: absolute;
    background-color: #E74C3C;
    height: 8px;
    width: 396px;
    top: 680px;
    left: 50%;
}

#line4 {
    position: absolute;
    background-color: #E74C3C;
    height: 8px;
    width: 396px;
    top: 860px;
    left: 21%;
}

#line5 {
    position: absolute;
    background-color: #E74C3C;
    height: 8px;
    width: 396px;
    top: 1037px;
    left: 50%;
}

#circle1 {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: #E74C3C;
    top: 315px;
    right: 252px;
}

#circle2 {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: #E74C3C;
    top: 489px;
    left: 257px;
}

#circle3 {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: #E74C3C;
    top: 670px;
    right: 252px;
}

#circle4 {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: #E74C3C;
    top: 850px;
    left: 257px;
}

#circle5 {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: #E74C3C;
    top: 1027px;
    right: 252px;
}

.pageThree > figure {
    position: absolute;
    display: inline;
    font-size: 15px;
    color: white;
    width: 300px;
    font-family: sans-serif;
}

.pageThree > figure > h1 {
    position: absolute;
    display: inline;
    font-size: 15px;
    color: white;
    width: 300px;
    font-family: sans-serif;
}

/*==============ijse============*/
#eduIJSE {
    left: 530px;
}

#eduIJSE > img {
    left: 249px;
    top: 104px;
    height: 75px;
    position: relative;
}

#eduIJSE > figcaption {
    position: relative;
    top: 104px;
    left: 59px;
}

#eduIJSE > h1 {
    position: relative;
    top: 160px;
    left: -51px;
    font-size: 17px;
}

/*==============IPS============*/
#eduFUTUREips {
    left: 330px;
}

#eduFUTUREips > img {
    left: 94px;
    top: 282px;
    height: 122px;
    position: relative;
}

#eduFUTUREips > figcaption {
    position: relative;
    top: 141px;
    padding-bottom: 10px;
    left: -209px;
}

#eduFUTUREips > h1 {
    position: relative;
    top: 285px;
    left: 142px;
    font-size: 17px;
}

/*==============Ginarathana============*/
#eduGINARATHANA {
    left: 330px;
}

#eduGINARATHANA > img {
    left: 403px;
    top: 444px;
    height: 96px;
    position: relative;
}

#eduGINARATHANA > figcaption {
    position: relative;
    top: 428px;
    padding-bottom: 10px;
    right: -326px;
}

#eduGINARATHANA > h1 {
    position: relative;
    top: 473px;
    right: -326px;
    font-size: 17px;
}

/*==============Ginarathana============*/
#eduDHARMAPALA {
    left: 330px;
}

#eduDHARMAPALA > img {
    left: 84px;
    top: 646px;
    height: 114px;
    position: relative;
}

#eduDHARMAPALA > figcaption {
    position: relative;
    top: 548px;
    padding-bottom: 10px;
    right: 228px;
}

#eduDHARMAPALA > h1 {
    position: relative;
    top: 653px;
    right: -120px;
    font-size: 17px;
}

/*==============Ginarathana============*/
#eduPIYARATHANA {
    left: 330px;
}

#eduPIYARATHANA > img {
    left: 552px;
    top: 812px;
    height: 126px;
    position: relative;
}

#eduPIYARATHANA > figcaption {
    position: relative;
    top: 692px;
    padding-bottom: 10px;
    right: -231px;
}

#eduPIYARATHANA > h1 {
    position: relative;
    top: 818px;
    right: -214px;
    font-size: 17px;
}

/*=============================================page 4 css=============================================*/
.pageFour {
    position: relative;
    background-color: #ECF0F1;
    height: 675px;
    top: 0;
}

#pageFourName {
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}

.pageFour > section {
    background-color: #161B36;
    position: relative;
    font-size: 15px;
    color: white;
    left: 175px;
    font-family: sans-serif;
}

#skillDescription {
    width: 1000px;
    height: 196px;
    top: 80px;
}

#skillDescription > p {
    top: 20px;
    position: relative;
    font-size: 17px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

#skillList {
    width: 1000px;
    height: 255px;
    top: 90px;
}

#skillList > ul > li {
    position: relative;
    top: -4px;
    display: inline;
    left: 150px;
    font-size: 25px;
    margin: 10px;
    color: white;
    text-decoration: none;
}

#skillList > ul > li > i {
    margin-top: 8px;

}

#skillList > ul > div {
    position: relative;
    background-color: white;
    width: 500px;
    height: 7px;
    left: 250px;
}

#scale1 {
    top: -17px;
}

#scale2 {
    top: -20px;
}

#scale3 {
    top: -20px;
}

#scale4 {
    top: -20px;
}

#scale5 {
    top: -20px;
}

#scale6 {
    top: -20px;
}

#skillList > ul > div > div {
    position: relative;
    background-color: #E74C3C;

    height: 7px;
    left: 0;
}

#parameter1 {
    width: 200px;
}

#parameter2 {
    width: 250px;
}

#parameter3 {
    width: 150px;
}

#parameter4 {
    width: 300px;
}

#parameter5 {
    width: 280px;
}

#parameter6 {
    width: 100px;
}

/*=============================================page 5 css=============================================*/
.pageFive {
    position: relative;
    background-color: #161B36;
    height: 1073px;
    top: 0;
}

#pageFiveName {
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}

.pageFive > a {

}

.imageSlider {
    position: absolute;
    left: 0;
    right: 0;
    top: 85px;
    margin: auto;
    height: 400px;
    width: 700px;
    overflow: hidden;


}
.imageSlider>section{
    position: relative;
    height: 100%;
    width: 400%;
    display: flex;
    animation-name: animate;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
@keyframes animate {
    0%,20%{
        transform: translateX(0%);
    }25%,45%{
         transform: translateX(-25%);
     }50%,70%{
          transform: translateX(-50%);
      }75%,100%{
           transform: translateX(-75%);
       }
}
.imageSlider>section>div{
    width: 100%;
}
.imageSlider>section>div:nth-child(1){
    background: url("assets/images/Assignments/project 1.png");
    background-size: cover;
    position: center;
}
.imageSlider>section>div:nth-child(2){
    background: url("assets/images/Assignments/Assignment 1.png");
    background-size: cover;
    position: center;
}
.imageSlider>section>div:nth-child(3){
    background: url("assets/images/Assignments/Assignment 2.png");
    background-size: cover;
    position: center;
}
.imageSlider>section>div:nth-child(4){
    background: url("assets/images/Assignments/Assignment 3.png");
    background-size: cover;
    position: center;
}

#showMore {
    position: relative;
    font-size: 50px;
    color: white;
    top: 177px;
    left: 1180px;
    transform: rotate(270deg);
}

#back:hover, #next:hover {
    color: #E74C3C;
    cursor: pointer;
}

#TEAMMATES_name {
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 413px;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}

#teammates > figure {
    position: relative;
    display: inline-block;
    width: 313px;
    height: 387px;
    top: 400px;
    background-color: #242C54;
}

#teammates > figure:nth-child(1) {
    left: 20px;
}

#teammates > figure:nth-child(2) {
    left: 82px;
}

#teammates > figure:nth-child(3) {
    right: -135px;
}

#teammates > figure > img {
    position: absolute;
    display: inline;
    top: 43px;
    left: 0;
    right: 0;
    margin: auto;
}

#prabodPic {
    width: 200px;
    height: 263px;
}

#udeshPic {
    width: 253px;
    height: 256px;
}

#heshanPic {
    width: 234px;
    height: 269px;
}

#teammates > figure > figcaption {
    position: relative;
    font-size: 22px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

#prabodInfo {
    position: absolute;
    top: 303px;
    left: -209px;
}

#udeshInfo {
    position: absolute;
    top: 303px;
    left: -197px;
}

#heshanInfo {
    position: absolute;
    top: 303px;
    left: -174px;
}

/*=============================================page 6 css=============================================*/
.pageSix {
    position: relative;
    background-color: #ECF0F1;
    height: 775px;
    top: 0;
}

#pageSixeName {
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}

.pageSix > a > figure {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 200px;
    top: 80px;
    left: 160px;
    background-color: #161B36;
    box-shadow: #242C54;
}

.pageSix > a > figure > img {
    position: absolute;
    top: -50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.pageSix > a > figure > figcaption {
    position: relative;
    font-size: 20px;
    color: #E74C3C;
    font-family: sans-serif;
    text-align: center;
    top: 148px;
}

.pageSix > a:nth-child(5) > figure {
    top: 313px;
    left: -173px;
}

/*=============================================page 7 css=============================================*/
.pageSeven {
    position: relative;
    background-color: #161B36;
    height: 590px;
    top: -131px;
    bottom: 0;
}

#pageSevenName {
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}

#contactLinks > p {
    font-size: 20px;
    color: white;
    left: 150px;
    margin-left: 0;
    position: relative;
    font-family: sans-serif;
    display: inline-block;
    text-decoration: none;
}

#contactLinks > i {
    position: relative;
    font-size: 30px;
    color: #E74C3C;
    left: 120px;

}

#address1 {
    top: 140px;
}

#address2 {
    top: 140px;
}

#address3 {
    top: 140px;
}

#nameIcon {
    top: 135px;
}

#addressIcon {
    top: 135px;
}

#emailIcon {
    top: 135px;
}


#icons3 {
    position: absolute;
    font-size: 30px;
    color: #E74C3C;
    top: 487px;
    left: 120px;
}

#fbIcon3 {
    text-decoration: none;
    color: #E74C3C;
    margin-right: 50px;
}

#fbIcon3:hover {
    color: white;
    cursor: pointer;
}

#instagramIcon3 {
    text-decoration: none;
    color: #E74C3C;
    margin-right: 50px;
}

#instagramIcon3:hover {
    color: white;
    cursor: pointer;
}

#linkedinIcon3 {
    text-decoration: none;
    color: #E74C3C;
    margin-right: 50px;
}

#linkedinIcon3:hover {
    color: white;
    cursor: pointer;
}

#twitterIcon3 {
    text-decoration: none;
    color: #E74C3C;
    margin-right: 50px;
}

#twitterIcon3:hover {
    color: white;
    cursor: pointer;
}


#messageSection > div, input {
    position: relative;
    background-color: #242C54;
    width: 570px;
    height: 40px;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    left: 666px;
    top: -125px;
    border: 1px solid #242c54;
}

#txtSubject {
    top: -137px;
}

#message {
    top: -147px;
    height: 150px;
}

#button2 {
    position: relative;
    height: 40px;
    width: 120px;
    top: -155px;
    left: 670px;
    background-color: #161B36;
    border: 1px solid #E74C3C;
    color: #E74C3C;
}

/*=============================================footer=============================================*/
footer {
    position: relative;
    background-color: #242C54;
    bottom: 0;
    height: 45px;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
}

footer > small {
    position: relative;
    top: 10px;
}

/*=====================responsive======================*/
@media all and (max-width: 1024px) {
    body {
        position: relative;
    }

    main {
        position: relative;
    }

    nav {
        position: relative;
    }

    nav > ul {
        display: none;
    }

    nav > h1:nth-child(1) {
        /*position: relative;*/
        left: 150px;
        /*font-size: 45px;*/
        /*left: 45vw;*/
    }

    nav > h1:nth-child(2) {
        /*position: relative;*/
        left: 185px;
        /*font-size: 45px;*/
        /*left: 55vw;*/
    }

    /*===========================================*/
    .pageOne {
        /*width: max-content;*/
        width: 425px;
        height: 800px;
    }

    .pageOne > img {
        position: absolute;
        top: 163px;
        left: 0;
        margin: auto;
        right: 0;

    }

    #icons {
        display: none;
    }

    .pageOne > section:nth-child(1) > h1 {
        top: 150px;
        width: 279px;
        left: 80px;
        font-size: 18px;
    }

    .wrapper {
        /*top: 265px;*/
        /*left: 70px;*/
        display: none;
    }

    .pageTwo {
        position: relative;
        width: 425px;
        /*width: max-content;*/
    }

    #pageTwoName {
        display: inline-block;
        left: 130px;
        top: 0;
    }

    #myImg2 {
        display: none;
    }

    #aboutMeSection2 {
        top: 0;
        bottom: 101px;
        left: 12px;
        width: 400px;
    }

    #DownloadCV {
        position: relative;
        left: 140px;
        bottom: -20px;
    }

    #icons2 {
        position: absolute;
        font-size: 20px;
        color: white;
        top: 110px;
        left: 80px;
    }

    #aboutMeText {
        font-size: 14px;
        text-align: center;
        color: white;
        font-family: sans-serif;
        width: 360px;
    }

    #aboutMeSection1 {
        top: 0;
        bottom: 101px;
        left: 12px;
        width: 400px;
        z-index: 1;
    }

    #aboutMeSection2 > dl > dt {
        display: inline-block;
        font-size: 14px;
        left: 50px;
        top: -32px;
        padding-bottom: 0px;
    }

    #aboutMeSection2 > dl > dd {
        font-size: 14px;
        left: 85px;
        top: -53px;
        width: 155px;
    }

    /*===========================================*/
    .pageThree {
        width: 425px;
    }

    #pageThreeName {
        display: inline-block;
        left: 130px;
        top: 0;
    }

    #line1, #line2, #line3, #line4, #line5 {
        display: none;
    }

    #mainLine {
        left: -361px;
        right: 0;
        margin: auto;
        /*left: 586px;*/
    }

    #circle1, #circle2, #circle3, #circle4, #circle5 {
        left: -361px;
        right: 0;
        margin: auto;
    }

    #eduIJSE {
        left: -140px;
    }

    #eduFUTUREips {
        left: 40px;
    }

    #eduGINARATHANA {
        left: -350px;
    }

    #eduDHARMAPALA {
        left: 40px;
    }

    #eduPIYARATHANA {
        left: -315px;
    }

    #eduPIYARATHANA > img {
        left: 400px;
        top: 985px;
        width: 85px;
        height: 100px;
    }

    #eduPIYARATHANA > figcaption {
        top: 891px;
        left: 365px;
        font-size: 14px;
    }

    #eduPIYARATHANA > h1 {
        top: 930px;
        right: -254px;
    }

    #eduDHARMAPALA > img {
        left: 40px;
        top: 775px;
        height: 114px;
        position: relative;
    }

    #eduDHARMAPALA > h1 {
        top: 740px;
        right: 146px;
    }

    #eduDHARMAPALA > figcaption {
        top: 676px;
        right: -7px;
    }

    #eduGINARATHANA > img {
        left: 428px;
        top: 616px;
        width: 160px;
        height: 76px;
        position: relative;
    }

    #eduGINARATHANA > h1 {
        position: relative;
        top: 600px;
        right: -212px;
        font-size: 17px;
    }

    #eduGINARATHANA > figcaption {
        display: none;
    }

    #eduFUTUREips > h1 {
        top: 370px;
        left: -128px;
    }

    #eduFUTUREips > img {
        left: 37px;
        top: 422px;
        height: 122px;
    }

    #eduFUTUREips > figcaption {
        top: 281px;
        left: 1px;
    }

    #eduIJSE > h1 {
        top: 242px;
        left: -11px;
    }

    #eduIJSE > img {
        left: 214px;
        top: 244px;
        height: 75px;
    }

    #eduIJSE > figcaption {
        position: relative;
        top: 234px;
        left: 70px;
    }

    /*===========================================*/
    .pageFour {
        width: 425px;
    }

    #pageFourName {
        display: inline-block;
        left: 150px;
        top: 0;
    }

    #skillDescription {
        left: 12px;
        width: 400px;
        top: 0;
    }

    #skillText {
        top: 40px;
        width: 370px;
        left: 19px;
        position: relative;
        font-size: 14px;
        text-align: center;
        color: white;
        font-family: sans-serif;
    }

    #skillList {
        width: 400px;
        left: 12px;
        height: 255px;
        top: 0;
    }

    #skillList > ul > div {
        width: 260px;
        height: 7px;
        left: 52px;
    }

    #skillList > ul > li {
        position: relative;
        top: -4px;
        display: inline;
        left: -17px;
        font-size: 25px;
        margin: 10px;
        color: white;
        text-decoration: none;
    }

    #parameter1 {
        width: 104px;
    }

    #parameter2 {
        width: 130px;
    }

    #parameter3 {
        width: 78px;
    }

    #parameter4 {
        width: 156px;
    }

    #parameter5 {
        width: 146px;
    }

    #parameter6 {
        width: 52px;
    }

    /*===========================================*/
    .pageFive {
        width: 425px;
        height: 685px;
    }

    #pageFiveName {
        display: inline-block;
        left: 150px;
        top: 0;
    }

    #ProjectImg2 {
        position: relative;
        display: inline;
        padding-right: 10px;
        left: 72px;
        top: 0;
    }

    #ProjectImg1 {
        position: relative;
        display: inline;
        left: 12px;
        top: -20px;
    }

    #ProjectImg3 {
        position: relative;
        display: inline;
        left: 10px;
        top: 20px;
    }
    .imageSlider {
        position: absolute;
        left: 0;
        right: 0;
        top: 85px;
        margin: auto;
        height: 247px;
        width: 389px;
        overflow: hidden;


    }

    #showMore {
        top: 340px;
        left: 20px;
        transform: rotate(270deg);
    }

    #TEAMMATES_name {
        display: inline-block;
        left: -97px;
        top: 420px;
    }

    #teammates {
    }
    #teammates > figure {
        position: relative;
        display: inline-block;
        width: 313px;
        height: 387px;
        top: 400px;
        background-color: #242C54;
    }
    #teammates > figure:nth-child(1) {
        left: 10px;
    }

    #teammates > figure:nth-child(2) {
        left: 10px;
    }

    #teammates > figure:nth-child(3) {
        left: 10px;
    }

    #heshanInfo {
        position: absolute;
        top: 303px;
        left: -180px;
    }

    #udeshInfo {
        position: absolute;
        top: 303px;
        left: -210px;
    }

    #prabodInfo {
        position: absolute;
        top: 303px;
        left: -220px;
    }

    /*===========================================*/
    .pageSix {
        width: 425px;
        top: 1230px;
        height: 1400px;
    }

    #pageSixeName {
        display: inline-block;
        left: 150px;
        top: 0;
    }

    .pageSix > a > figure {
        display: inline-block;
        position: relative;
        width: 100px;
        height: 100px;
        /*top: 80px;*/
        /*left: 0;*/
        background-color: #161B36;
        box-shadow: #242C54;
    }

    .pageSix > a > figure > img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    #graphicFig {
        top: 80px;
        left: -20px;
    }

    #ui\,uxFig {
        top: 148px;
        left: 120px;
    }

    #webFig {
        top: 350px;
        left: -62px;
    }

    #appFig {
        top: 440px;
        left: 124px;
    }

    #seoFig {
        top: 630px;
        left: -61px;
    }

    #seFig {
        top: 700px;
        left: 125px;
    }

    .pageSix > a > figure > figcaption {
        position: relative;
        font-size: 20px;
        color: #E74C3C;
        font-family: sans-serif;
        text-align: center;
        top: 112px;
    }

    /*===========================================*/
    .pageSeven {
        width: 425px;
        top: 1230px;
        height: 649px;
    }

    #pageSevenName {
        display: inline-block;
        left: 150px;
        top: 0;
    }

    #messageSection {
        display: none;
    }

    #contactLinks > p {
        font-size: 20px;
        color: white;
        left: 7px;
        margin-left: 0;
        position: relative;
        font-family: sans-serif;
        display: inline-block;
        text-decoration: none;
    }

    #contactLinks > i {
        position: relative;
        font-size: 30px;
        color: #E74C3C;
        left: 35px;

    }

    #nameIcon {
        top: 55px;
    }

    #address1 {
        top: 110px;
    }

    #addressIcon {
        top: 88px;
    }

    #address2 {
        top: 146px;
    }

    #emailIcon {
        top: 134px;
    }

    #address3 {
        top: 194px;
    }

    #icons3 {
        position: absolute;
        font-size: 30px;
        color: #E74C3C;
        top: 553px;
        left: 75px;
        width: 330px;
    }

    /*===========================================*/
    footer {
        bottom: -1184px;
        width: 425px;
        display: inline-block;

    }
}