/*=============================================header css=============================================*/
body {
    position: relative;
    background-color: #161B36;
}
main{
    position: relative;
}
nav {
    position: fixed;
    width: 100%;
    background-color: #161B36;
    height: 45px;
    z-index: 1;
    top: 0;
}

nav > ul {
    position: absolute;
    top: 0;
    height: 20px;
    right: 30px;
    list-style: none;
}

nav > ul > li {
    display: inline-block;
    padding: 0 20px 0 20px;
    font-size: 20px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
}

nav > ul > li > a:hover {
    color: #E74C3C;
    cursor: pointer;
}

nav > h1 {
    font-size: 33px;
    position: absolute;
    left: 10px;
    font-weight: bold;
    margin: 7px;
    cursor: pointer;
    font-family: 'Ubuntu Condensed', sans-serif;
}

nav > h1:nth-child(1) {
    color: #E74C3C;
}

nav > h1:nth-child(2) {
    color: white;
    left: 45px;
}

/*=============================================page 1 css=============================================*/
.pageOne {
    position: relative;
    background-color: #161B36;
    height: 606px;
    top: 45px;
}

.pageOne > img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 382px;
    height: 547px;
    opacity: 70%;
}

#icons {
    position: absolute;
    font-size: 30px;
    color: white;
    top: 180px;
    left: 120px;
}

#fbIcon {
    margin-right: 50px;
}

#instagramIcon {
    margin-right: 50px;
}

#linkedinIcon {
    margin-right: 50px;
}

#twitterIcon {
    margin-right: 50px;
}

.pageOne > section:nth-child(1) > h1, h2 {
    position: absolute;
    font-family: sans-serif;
    margin: 0;
    left: 120px;
}

.pageOne > section:nth-child(1) > h1 {
    font-size: 30px;
    color: white;
    top: 245px;
    letter-spacing: 4px;
}

.pageOne > section:nth-child(1) > h2 {
    font-size: 35px;
    color: #E74C3C;
    top: 280px;
    letter-spacing: 3px;
}

/*=============================================page 2 css=============================================*/
.pageTwo {
    position: relative;
    background-color: #ECF0F1;
    height: 705px;
    top: 0;
}

#pageTwoName {
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 70px;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}

#myImg2 {
    border-style: none;
    position: relative;
    bottom: -50px;
    left: 100px;
}

#aboutMeSection1 {
    position: relative;
    width: 706px;
    top: -375px;
    bottom: 101px;
    left: 550px;
    height: 196px;
    background-color: #161B36;

}

#aboutMeSection2 {
    position: relative;
    width: 706px;
    top: -365px;
    bottom: 101px;
    left: 550px;
    height: 196px;
    background-color: #161B36;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
}

#aboutMeText {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

#aboutMeSection2 > dl {
    position: relative;
    top: 40px;
}

#aboutMeSection2 > dl > dt {
    position: relative;
    left: 40px;
    font-size: 18px;
    color: #E74C3C;
    font-family: sans-serif;
    padding-bottom: 10px;
}

#aboutMeSection2 > dl > dd {
    position: relative;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    padding-bottom: 20px;
}

#aboutMeSection2 > button {
    position: relative;
    border: 1px solid #E74C3C;
    color: #E74C3C;
    background-color: #161B36;
    height: 40px;
    left: 450px;
    bottom: 30px;
}

#icons2 {
    position: absolute;
    font-size: 30px;
    color: white;
    top: 50px;
    left: 372px;
}

#fbIcon2 {
    margin-right: 50px;
}

#instagramIcon2 {
    margin-right: 50px;
}

#linkedinIcon2 {
    margin-right: 50px;
}

#twitterIcon2 {
    margin-right: 50px;
}

/*=============================================page 3 css=============================================*/
.pageThree {
    position: relative;
    background-color: #161B36;
    height: 1300px;
    top: 0;
}

#pageThreeName {
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 70px;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}

#mainLine {
    position: absolute;
    background-color: #E74C3C;
    height: 1000px;
    width: 8px;
    top: 170px;
    align-items: center;
    left: 50%;
}

#line1 {
    position: absolute;
    background-color: #E74C3C;
    height: 8px;
    width: 396px;
    top: 325px;
    left: 50%;
}

#line2 {
    position: absolute;
    background-color: #E74C3C;
    height: 8px;
    width: 396px;
    top: 500px;
    left: 21%;
}

#line3 {
    position: absolute;
    background-color: #E74C3C;
    height: 8px;
    width: 396px;
    top: 680px;
    left: 50%;
}

#line4 {
    position: absolute;
    background-color: #E74C3C;
    height: 8px;
    width: 396px;
    top: 860px;
    left: 21%;
}

#line5 {
    position: absolute;
    background-color: #E74C3C;
    height: 8px;
    width: 396px;
    top: 1037px;
    left: 50%;
}

#circle1 {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: #E74C3C;
    top: 315px;
    right: 252px;
}

#circle2 {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: #E74C3C;
    top: 489px;
    left: 257px;
}

#circle3 {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: #E74C3C;
    top: 670px;
    right: 252px;
}

#circle4 {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: #E74C3C;
    top: 850px;
    left: 257px;
}

#circle5 {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: #E74C3C;
    top: 1027px;
    right: 252px;
}

.pageThree > figure {
    position: absolute;
    display: inline;
    font-size: 15px;
    color: white;
    width: 300px;
    font-family: sans-serif;
}

.pageThree > figure > h1 {
    position: absolute;
    display: inline;
    font-size: 15px;
    color: white;
    width: 300px;
    font-family: sans-serif;
}

/*==============ijse============*/
#eduIJSE {
    left: 530px;
}

#eduIJSE > img {
    left: 249px;
    top: 104px;
    height: 75px;
    position: relative;
}

#eduIJSE > figcaption {
    position: relative;
    top: 104px;
    left: 59px;
}

#eduIJSE > h1 {
    position: relative;
    top: 160px;
    left: -51px;
    font-size: 17px;
}

/*==============IPS============*/
#eduFUTUREips {
    left: 330px;
}

#eduFUTUREips > img {
    left: 94px;
    top: 282px;
    height: 122px;
    position: relative;
}

#eduFUTUREips > figcaption {
    position: relative;
    top: 141px;
    padding-bottom: 10px;
    left: -209px;
}

#eduFUTUREips > h1 {
    position: relative;
    top: 285px;
    left: 142px;
    font-size: 17px;
}

/*==============Ginarathana============*/
#eduGINARATHANA {
    left: 330px;
}

#eduGINARATHANA > img {
    left: 403px;
    top: 444px;
    height: 96px;
    position: relative;
}

#eduGINARATHANA > figcaption {
    position: relative;
    top: 428px;
    padding-bottom: 10px;
    right: -326px;
}

#eduGINARATHANA > h1 {
    position: relative;
    top: 473px;
    right: -326px;
    font-size: 17px;
}

/*==============Ginarathana============*/
#eduDHARMAPALA {
    left: 330px;
}

#eduDHARMAPALA > img {
    left: 84px;
    top: 646px;
    height: 114px;
    position: relative;
}

#eduDHARMAPALA > figcaption {
    position: relative;
    top: 548px;
    padding-bottom: 10px;
    right: 228px;
}

#eduDHARMAPALA > h1 {
    position: relative;
    top: 653px;
    right: -120px;
    font-size: 17px;
}

/*==============Ginarathana============*/
#eduPIYARATHANA {
    left: 330px;
}

#eduPIYARATHANA > img {
    left: 552px;
    top: 812px;
    height: 126px;
    position: relative;
}

#eduPIYARATHANA > figcaption {
    position: relative;
    top: 692px;
    padding-bottom: 10px;
    right: -231px;
}

#eduPIYARATHANA > h1 {
    position: relative;
    top: 818px;
    right: -214px;
    font-size: 17px;
}

/*=============================================page 4 css=============================================*/
.pageFour {
    position: relative;
    background-color: #ECF0F1;
    height: 675px;
    top: 0;
}

#pageFourName {
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}

.pageFour > section {
    background-color: #161B36;
    position: relative;
    font-size: 15px;
    color: white;
    left: 175px;
    font-family: sans-serif;
}

#skillDescription {
    width: 1000px;
    height: 196px;
    top: 80px;
}

#skillDescription > pre {
    top: 20px;
    position: relative;
    font-size: 17px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

#skillList {
    width: 1000px;
    height: 255px;
    top: 90px;
}

#skillList > ul > li {
    position: relative;
    top: -4px;
    display: inline;
    left: 150px;
    font-size: 25px;
    margin: 10px;
    color: white;
    text-decoration: none;
}

#skillList > ul > li > i {
    margin-top: 8px;

}

#skillList > ul > div {
    position: relative;
    background-color: white;
    width: 500px;
    height: 7px;
    left: 250px;
}

#scale1 {
    top: -17px;
}

#scale2 {
    top: -20px;
}

#scale3 {
    top: -20px;
}

#scale4 {
    top: -20px;
}

#scale5 {
    top: -20px;
}

#scale6 {
    top: -20px;
}

#skillList > ul > div > div {
    position: relative;
    background-color: #E74C3C;

    height: 7px;
    left: 0;
}

#parameter1 {
    width: 200px;
}

#parameter2 {
    width: 250px;
}

#parameter3 {
    width: 150px;
}

#parameter4 {
    width: 300px;
}

#parameter5 {
    width: 280px;
}

#parameter6 {
    width: 100px;
}

/*=============================================page 5 css=============================================*/
.pageFive {
    position: relative;
    background-color: #161B36;
    height: 1073px;
    top: 0;
}

#pageFiveName {
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}

#project_assignment {
    background-color: #242C54;
    position: relative;
    left: 175px;
    width: 970px;
    height: 286px;
    top: 60px;
}

#TEAMMATES_name {
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 160px;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}

#teammates > figure {
    position: relative;
    display: inline-block;
    width: 313px;
    height: 387px;
    top: 175px;
    background-color: #242C54;
}

#teammates > figure:nth-child(1) {
    left: 20px;
}

#teammates > figure:nth-child(2) {
    left: 82px;
}

#teammates > figure:nth-child(3) {
    right: -135px;
}

#teammates > figure > img {
    position: absolute;
    display: inline;
    top: 43px;
    left: 0;
    right: 0;
    margin: auto;
}

#prabodPic {
    width: 200px;
    height: 263px;
}

#udeshPic {
    width: 253px;
    height: 256px;
}

#heshanPic {
    width: 234px;
    height: 269px;
}

#teammates > figure > figcaption {
    position: relative;
    font-size: 22px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

#prabodInfo {
    position: absolute;
    top: 303px;
    left: -209px;
}

#udeshInfo {
    position: absolute;
    top: 303px;
    left: -197px;
}

#heshanInfo {
    position: absolute;
    top: 303px;
    left: -174px;
}
/*=============================================page 6 css=============================================*/
.pageSix{
    position: relative;
    background-color:#ECF0F1;
    height: 775px;
    top: 0;
}
#pageSixeName {
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}

.pageSix>figure{
    display: inline-block;
    position: relative;
    width: 250px;
    height: 200px;
    top: 80px;
    left: 160px;
    background-color: #161B36;
    box-shadow: #242C54;
}
.pageSix>figure>img{
    position: absolute;
    top: -50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.pageSix>figure>figcaption{
    position: relative;
    font-size: 20px;
    color: #E74C3C;
    font-family: sans-serif;
    text-align: center;
    top: 148px;
}
.pageSix>figure:nth-child(5){
    top: 313px;
    left: -173px;
}
/*=============================================page 7 css=============================================*/
.pageSeven{
    position: relative;
    background-color:#161B36;
    height: 590px;
    top: -131px;
    bottom: 0;
}
#pageSevenName {
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}
#contactLinks>p{
    font-size: 20px;
    color: white;
    left: 180px;
    position: relative;
    font-family: sans-serif;
    display: inline;
    text-decoration: none;
}
#contactLinks>i{
    position: relative;
    font-size: 30px;
    color: #E74C3C;
    left : 120px;

}
#address1{
    top: 100px;
}
#address2{
    top: 140px;
}
#address3{
    top: 180px;
}
#nameIcon{
    top: 120px;
}
#addressIcon{
    top: 160px;
}
#emailIcon{
  top: 205px;
}
#icons3 {
    position: absolute;
    font-size: 30px;
    color: #E74C3C;
    top: 487px;
    left: 120px;
}

#fbIcon3 {
    margin-right: 50px;
}

#instagramIcon3 {
    margin-right: 50px;
}

#linkedinIcon3 {
    margin-right: 50px;
}

#twitterIcon3 {
    margin-right: 50px;
}
#messageSection>div,input{
    position: relative;
    background-color: #242C54;
    width: 570px;
    height: 40px;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    left: 666px;
    top: -67px;
    border: 1px solid #242c54;
}
#txtSubject{
    top: -83px;
}
#message{
    top: -100px;
    height: 150px;
}
#button2{
    position: relative;
    height: 40px;
    width: 120px;
    top: -115px;
    left: 670px;
    background-color: #161B36;
    border: 1px solid #E74C3C;
    color: #E74C3C;
}
/*=============================================footer=============================================*/
footer{
    position: relative;
    background-color:#242C54;
    bottom: 0;
    height: 45px;

}
