main{
    overflow: hidden;
}
/*=============================================header css=============================================*/
body {
    position: relative;
    background-color: #161B36;
}

main {
    position: relative;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #161B36;
    height: 45px;
    z-index: 1;
    top: 0;
}

nav > ul {
    position: absolute;
    top: 0;
    height: 21px;
    right: 30px;
    list-style: none;
}

nav > ul > li {
    display: inline-block;
    padding: 0 20px 0 20px;
    font-size: 20px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
}

nav > ul > li > a:hover {
    color: #E74C3C;
    cursor: pointer;
}

nav > h1 {
    font-size: 33px;
    position: absolute;
    left: 10px;
    font-weight: bold;
    margin: 7px;
    cursor: pointer;
    font-family: 'Ubuntu Condensed', sans-serif;
}

nav > h1:nth-child(1) {
    color: #E74C3C;
}

nav > h1:nth-child(2) {
    color: white;
    left: 45px;
}

/*=============================================page 1 css=============================================*/
.pageOne {
    position: relative;
    background-color: #161B36;
    height: 103vh;
    top: 45px;
}

.pageOne > img {
    position: absolute;
    right: 15%;
    bottom: 25%;
    width: 382px;
    height: 547px;
    opacity: 60%;
}

#icons {
    position: absolute;
    font-size: 30px;
    color: white;
    top: 15rem;
    left: 10rem;
}

#fbIcon {
    position: absolute;
    width: 21px;

    text-decoration: none;
    color: white;
    margin-right: 50px;
}

#fbIcon:hover {
    color: #E74C3C;
    cursor: pointer;
}

#instagramIcon {
    position: absolute;
    width: 21px;
    left: 5rem;

    text-decoration: none;
    color: white;
    margin-right: 50px;
}

#instagramIcon:hover {
    color: #E74C3C;
    cursor: pointer;
}

#linkedinIcon {
    position: absolute;
    width: 21px;
    left: 10rem;

    text-decoration: none;
    color: white;
    margin-right: 50px;
}

#linkedinIcon:hover {
    color: #E74C3C;
    cursor: pointer;
}

#twitterIcon {
    position: absolute;
    width: 21px;
    left: 15rem;

    text-decoration: none;
    color: white;
    margin-right: 50px;
}

#twitterIcon:hover {
    color: #E74C3C;
    cursor: pointer;
}

.pageOne > section:nth-child(1) > h1 {
    position: absolute;
    font-family: sans-serif;
    margin: 0;
    left: 10rem;
    font-size: 30px;
    color: white;
    top: 20rem;
    letter-spacing: 4px;
}

.wrapper {
    position: relative;
    top: 21rem;
    left: 8rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-flex;
}

.wrapper > h1 {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    color: #E74C3C;
    font-family: sans-serif;
    list-style: none;
    font-size: 59px;
    font-weight: 500;
    position: relative;
    top: 0;

}


/*=============================================page 2 css=============================================*/
.pageTwo {
    position: relative;
    background-color: #ECF0F1;
    height: 110vh;
    top: 0;
}

#pageTwoName {
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 70px;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}

#myImg2 {
    border-style: none;
    position: relative;
    bottom: -5rem;
    left: 10%;
}

#aboutMeSection1 {
    position: relative;
    width: 50%;
    top: -21rem;
    left: 37%;
    height: 12rem;
    background-color: #161B36;

}

#aboutMeSection2 {
    position: relative;
    width: 50%;
    top: -21rem;
    left: 37%;
    height: 12rem;
    background-color: #161B36;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
}

#aboutMeText {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

#aboutMeSection2 > dl {
    position: relative;
    top: 40px;
}

#aboutMeSection2 > dl > dt {
    position: relative;
    left: 40px;
    font-size: 18px;
    color: #E74C3C;
    font-family: sans-serif;
    padding-bottom: 10px;
}

#aboutMeSection2 > dl > dd {
    position: relative;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    padding-bottom: 20px;
}

#DownloadCV {
    position: relative;
    border: 1px solid #E74C3C;
    color: #E74C3C;
    background-color: #161B36;
    height: 40px;
    left: 450px;
    bottom: 30px;
    padding: 7px;
    text-decoration: none;
}

#DownloadCV:hover {
    border-color: white;
    color: white;
    cursor: pointer;
}

#icons2 {
    position: absolute;
    font-size: 30px;
    color: white;
    top: 50px;
    left: 372px;
}

#fbIcon2 {
    position: absolute;
    width: 21px;
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

#instagramIcon2 {
    position: absolute;
    width: 21px;
    left: 5rem;
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

#linkedinIcon2 {
    position: absolute;
    width: 21px;
    left: 10rem;
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

#twitterIcon2 {
    position: absolute;
    width: 21px;
    left: 15rem;
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

#fbIcon2:hover {
    color: #E74C3C;
    cursor: pointer;
}

#instagramIcon2:hover {
    color: #E74C3C;
    cursor: pointer;
}

#linkedinIcon2:hover {
    color: #E74C3C;
    cursor: pointer;
}

#twitterIcon2:hover {
    color: #E74C3C;
    cursor: pointer;
}

/*=============================================page 3 css=============================================*/
.pageThree {
    position: relative;
    background-color: #161B36;
    height: 180vh;
    top: 0;
}

#pageThreeName {
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2rem;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}

#mainLine {
    position: absolute;
    background-color: #E74C3C;
    height: 1040px;
    width: 8px;
    top: 0;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#line1 {
    position: absolute;
    background-color: #E74C3C;
    height: 8px;
    width: 396px;
    top: 20rem;
    left: 42.5rem;
}

#line2 {
    position: absolute;
    background-color: #E74C3C;
    height: 8px;
    width: 396px;
    top: 31rem;
    left: 17.5rem;
}

#line3 {
    position: absolute;
    background-color: #E74C3C;
    height: 8px;
    width: 396px;
    top: 680px;
    left: 50%;
}

#line4 {
    position: absolute;
    background-color: #E74C3C;
    height: 8px;
    width: 396px;
    top: 860px;
    left: 21%;
}

#line5 {
    position: absolute;
    background-color: #E74C3C;
    height: 8px;
    width: 396px;
    top: 1037px;
    left: 50%;
}

#circle1 {
    position: absolute;
    display: inline;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: white;
    top: 11rem;
    left: 0;
    bottom: 56rem;
    right: 0;
    margin: auto;
}

#circle2 {
    position: absolute;
    display: inline;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: white;
    top: 23rem;
    left: 0;
    bottom: 44rem;
    right: 0;
    margin: auto;
}

#circle3 {
    position: absolute;
    display: inline;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: white;
    top: 35rem;
    left: 0;
    bottom: 32rem;
    right: 0;
    margin: auto;
}

#circle4 {
    position: absolute;
    display: inline;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: white;
    top: 47rem;
    left: 0;
    bottom: 19rem;
    right: 0;
    margin: auto;
}

#circle5 {
    position: absolute;
    display: inline;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: white;
    top: 59rem;
    left: 0;
    bottom: 6rem;
    right: 0;
    margin: auto;
}
#mainDiv{
    position: relative;
    height: 170vh;
}
.pageThree >div>div> figure {
    position: absolute;
    display: inline;
    font-size: 15px;
    color: white;
    width: 300px;
    font-family: sans-serif;
}

.pageThree >div>div> figure > h1 {
    position: absolute;
    display: inline;
    font-size: 15px;
    color: orangered;
    width: 300px;
    font-family: sans-serif;
}
/*.eduIJSE{
    border: 2px solid red;
}*/
/*==============ijse============*/
.eduIJSE{
    border-bottom-left-radius: 30px;
    background-color: #242C54;
    border: 5px solid #242C54;
    border-right-color: #E74C3C;
    width: 25rem;
    display: inline-block;
    position: absolute;
    left: 30rem;
    right: 0;
    bottom: 56rem;
    margin: auto;
    top: 2rem;
    height: 11rem;
}
.eduIJSE>img{
    position: absolute;
    top: 30%;
    left: 5%;
}
#eduIJSE {
    position: absolute;
    left: -7rem;
    top: -5rem;
    margin: auto;
}


#eduIJSE > figcaption {
    position: absolute;
    top: 8rem;
    left: 11rem;
}

#eduIJSE > h1 {
    position: absolute;
    top: 5rem;
    right: -18rem;
    font-size: 17px;
}

/*==============IPS============*/
.eduFUTUREips{
    border-bottom-right-radius: 30px;
    background-color: #242C54;
    border: 5px solid #242C54;
    border-left-color: #E74C3C;
    width: 25rem;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 30rem;
    bottom: 44rem;
    margin: auto;
    top: 14rem;
    height: 11rem;
}
.eduFUTUREips>img{
    position: absolute;
    left: 60%;
    top: 25%;
}
#eduFUTUREips {
    position: absolute;
    left: 6rem;
    top: -9rem;
    margin: auto;
}

#eduFUTUREips > img {
    left: 7rem;
    top: 11rem;
    height: 122px;
    position: absolute;
}

#eduFUTUREips > figcaption {
    position: absolute;
    top: 11rem;
    padding-bottom: 10px;
    left: -14rem;
    margin: auto;
}

#eduFUTUREips > h1 {
    position: absolute;
    top: 9rem;
    left: 6rem;
    font-size: 17px;
}

/*==============Ginarathana============*/
.eduGINARATHANA{
    border-bottom-left-radius: 30px;
    background-color: #242C54;
    border: 5px solid #242C54;
    border-right-color: #E74C3C;
    width: 25rem;
    display: inline-block;
    position: absolute;
    left: 30rem;
    bottom: 32rem;
    right: 0;
    margin: auto;
    top: 26rem;
    height: 11rem;
}
.eduGINARATHANA>img{
    position: absolute;
    left: 8%;
    top: 24%;
}
#eduGINARATHANA {
    position: absolute;
    left: -20rem;
    top: -26rem;
    margin: auto;
}

#eduGINARATHANA > img {
    left: 25rem;
    top: 27rem;
    height: 96px;
    position: absolute;
}

#eduGINARATHANA > figcaption {
    position: absolute;
    top: 29rem;
    padding-bottom: 10px;
    right: -24rem;
}

#eduGINARATHANA > h1 {
    position: absolute;
    top: 26rem;
    right: -31rem;
    font-size: 17px;
}

/*==============DHARMAPALA ============*/
.eduDHARMAPALA{
    border-bottom-right-radius: 30px;
    background-color: #242C54;
    border: 5px solid #242C54;
    border-left-color: #E74C3C;
    width: 25rem;
    position: absolute;
    left: 0;
    right: 30rem;
    margin: auto;
    bottom: 19rem;
    top: 38rem;
    height: 11rem;
}
.eduDHARMAPALA>img{
    position: absolute;
    left: 64%;
    top: 25%;
}
#eduDHARMAPALA {
    position: absolute;
    left: 6rem;
    top: -39rem;
    margin: auto;
}

#eduDHARMAPALA > img {
    left: 6rem;
    top: 41rem;
    height: 114px;
    position: absolute;
}

#eduDHARMAPALA > figcaption {
    position: absolute;
    top: 42rem;
    padding-bottom: 10px;
    right: 12rem;
}

#eduDHARMAPALA > h1 {
    position: absolute;
    top: 39rem;
    right: -6rem;
    font-size: 17px;
}

/*==============piyarathana============*/
.eduPIYARATHANA{
    border-bottom-left-radius: 30px;
    background-color: #242C54;
    border: 5px solid #242C54;
    border-right-color: #E74C3C;
    width: 25rem;
    position: absolute;
    left: 30rem;
    right: 0;
    margin: auto;
    top: 50rem;
    bottom: 6rem;
    height: 11rem;
}
.eduPIYARATHANA>img{
    position: absolute;
    left: 12%;
    top: 33%;
}
#eduPIYARATHANA {
    position: absolute;
    left: -26rem;
    top: -60rem;
    margin: auto;
}

#eduPIYARATHANA > img {
    left: 31rem;
    top: 61rem;
    height: 126px;
    position: absolute;
}

#eduPIYARATHANA > figcaption {
    position: absolute;
    top: 63rem;
    padding-bottom: 10px;
    right: -30rem;
}

#eduPIYARATHANA > h1 {
    position: absolute;
    top: 60rem;
    right: -37rem;
    font-size: 17px;
}

/*=============================================page 4 css=============================================*/
.pageFour {
    position: relative;
    background-color: #ECF0F1;
    height: 106vh;
    top: 0;
}

#pageFourName {
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 7vh;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}

.pageFour > section {
    background-color: #161B36;
    position: relative;
    font-size: 15px;
    left: 175px;
    font-family: sans-serif;
}

#skillDescription {
    position: absolute;
    width: 1200px;
    height: 196px;
    top: 8rem;
    left: 0;
    bottom: 20rem;
    right: 0;
    margin: auto;
}

#skillDescription > p {

    position: relative;
    font-size: 17px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

#skillList {
    position: absolute;
    width: 1200px;
    height: 285px;
    top: 21rem;
    left: 0;
    right: 0;
    bottom: 0rem;
    margin: auto;
}

#skillList >div {
    position: relative;
    display: flex;
    width: 1200px;
    height: 285px;
    color: white;
    text-decoration: none;
}

#skillList > div>div {
   width: 150px;
}

#skillList > div > div {
    position: relative;
    border: 5px solid #161B36;
}
#skillList > div > div>pre{
    position: absolute;
    top: 64%;
    left: 42%;
    font-size: 18px;
}
#skillList > div > div>img{
    position: absolute;
    top: 25%;
    left: 15%;
    font-size: 100px;
}
#skillList > div > div:hover{
    /*border-bottom-color: #E74C3C;
    cursor: pointer;*/
}

/*=============================================page 5 css=============================================*/
.pageFive {
    position: relative;
    background-color: #161B36;
    height: 160vh;
    top: 0;
}

#pageFiveName {
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}

.pageFive > a {

}
#sliderBack{
    position: absolute;
    background-color: #242C54;
    height: 42%;
    width: 56%;
    left: 22%;
    top: 10%;
    border: 1px solid #242C54;
   /* border-radius: 4%;*/
}
#innerSliderBack{
    position: absolute;
    background-color: #161B36;
    height: 89%;
    width: 94%;
    left: 3%;
    top: 5%;
    border: 1px solid #242C54;
    /* border-radius: 4%; */
    z-index: 0;
}
.imageSlider {
    position: absolute;
    left: 0;
    right: 0;
    top: 0%;
    margin: auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.imageSlider>section>div{
    border: 15px solid #161B36;
}
.imageSlider>section{
    position: relative;
    height: 100%;
    width: 400%;
    display: flex;
    animation-name: animate;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
@keyframes animate {
    0%,20%{
        transform: translateX(0%);
    }25%,45%{
         transform: translateX(-25%);
     }50%,70%{
          transform: translateX(-50%);
      }75%,100%{
           transform: translateX(-75%);
       }
}
.imageSlider>section>div{
    width: 100%;
}
.imageSlider>section>div:nth-child(1){
    background: url("../images/Assignments/project2.png");
    background-size: cover;
    position: center;
}
.imageSlider>section>div:nth-child(2){
    background: url("../images/Assignments/Screenshot (7).png");
    background-size: cover;
    position: center;
}
.imageSlider>section>div:nth-child(3){
    background: url("../images/Assignments/Assignment 2.png");
    background-size: cover;
    position: center;
}
.imageSlider>section>div:nth-child(4){
    background: url("../images/Assignments/Screenshot (8).png");
    background-size: cover;
    position: center;
}

#showMore {
    position: relative;
    font-size: 50px;
    color: white;
    top: 268px;
    left: 1280px;
    transform: rotate(270deg);
}

 #back:hover, #next:hover {
    color: #E74C3C;
    cursor: pointer;
}

#TEAMMATES_name {
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 72vh;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}
#teamMatesArea{
    position: absolute;
    left: 0;
    right: 0;
    width: 80%;
    height: 35%;
    top: 64%;
    margin: auto;
}
#teamMatesArea>section{
    display: flex;
    position: relative;
    flex-direction: row;
    height: 100%;
    width:  100%;
    justify-content: space-between;
}
#teamMatesArea>section>div{
    background-color: #242C54;
    border-radius: 10px;
    position: relative;
}
#prabod{
    width: 20rem;
}
#prabod>h3{
    left: 16%;
}
#prabod>h4{
    position: relative;
    left: 20%;
    font-size: 281%;
    color: white;
}
#prabod>pre{
    position: relative;
    left: 24%;
    top: 68%;
    font-size: 100%;
    color: white;
}

#wasala{
    width: 20rem;
}
#wasala>h3{
    left: 31%;
}
#wasala>pre{
    position: relative;
    left: 24%;
    top: 68%;
    font-size: 100%;
    color: white;
}
#heshan{
    width: 20rem;
}
#heshan>h3{
    left: 26%;
}
#heshan>pre{
    position: relative;
    left: 24%;
    top: 68%;
    font-size: 100%;
    color: white;
}
#teamMatesArea>section>div>img{
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    height: 60%;
    width: 60%;
    border-radius: 100%;
    border: 8px solid #e74039;
    margin: auto;
}
#teamMatesArea>section>div>h3{
    color: white;
    width: 67%;
    font-size: 21px;
    position: relative;
    top: 72%;

}
/*#teammates > figure {
    position: relative;
    display: inline-block;
    width: 313px;
    height: 387px;
    top: 400px;
    background-color: #242C54;
}

#teammates > figure:nth-child(1) {
    left: 20px;
}

#teammates > figure:nth-child(2) {
    left: 82px;
}

#teammates > figure:nth-child(3) {
    right: -135px;
}

#teammates > figure > img {
    position: absolute;
    display: inline;
    top: 43px;
    left: 0;
    right: 0;
    margin: auto;
}*/

/*#prabodPic {
    width: 200px;
    height: 263px;
}

#udeshPic {
    width: 253px;
    height: 256px;
}

#heshanPic {
    width: 234px;
    height: 269px;
}

#teammates > figure > figcaption {
    position: relative;
    font-size: 22px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

#prabodInfo {
    position: absolute;
    top: 303px;
    left: -209px;
}

#udeshInfo {
    position: absolute;
    top: 303px;
    left: -197px;
}

#heshanInfo {
    position: absolute;
    top: 303px;
    left: -174px;
}*/

/*=============================================page 6 css=============================================*/
.pageSix {
    position: relative;
    background-color: #ECF0F1;
    height: 110vh;
    top: 0;
}

#pageSixeName {
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}
.services{
    position: absolute;
    left: 0;
    right: 0;
    top: 20vh;
    margin: auto;
    height: 500px;
    width: 90%;
    overflow: hidden;
}
.services>section{
    position: relative;
    height: 106%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.services>section>div{
    width: 30%;
    height: 40%;
    background-color: #161B36;
    border-radius: 10px;
    position: relative;
}

.services>section>div>img{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 10%;
}
.services>section>div>pre{
    color: #E74C3C;
    font-size: 30px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 65%;
    display: table;
}
/*.pageSix > a > figure {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 200px;
    top: 80px;
    left: 160px;
    background-color: #161B36;
    box-shadow: #242C54;
}

.pageSix > a > figure > img {
    position: absolute;
    top: -50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.pageSix > a > figure > figcaption {
    position: relative;
    font-size: 20px;
    color: #E74C3C;
    font-family: sans-serif;
    text-align: center;
    top: 148px;
}

.pageSix > a:nth-child(5) > figure {
    top: 313px;
    left: -173px;
}*/

/*=============================================page 7 css=============================================*/
.pageSeven {
    position: relative;
    background-color: #161B36;
    height: 100vh;
    bottom: 0;
}

#pageSevenName {
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    position: relative;
    font-family: sans-serif;
    font-style: normal;
}

#contactLinks > p {
    font-size: 20px;
    color: white;
    left: 150px;
    margin-left: 0;
    position: relative;
    font-family: sans-serif;
    display: inline-block;
    text-decoration: none;
}

#contactLinks > i {
    position: relative;
    font-size: 30px;
    color: #E74C3C;
    left: 120px;

}
#contactIcons{
    position: relative;
    width: 28rem;
}
#contactLinks{
    top: 3rem;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
#address1 {
    top: 140px;
}

#address2 {
    top: 140px;
}

#address3 {
    top: 140px;
}

#nameIcon {
    top: 135px;
}

#addressIcon {
    top: 135px;
}

#emailIcon {
    top: 135px;
}


#icons3 {
    position: absolute;
    font-size: 30px;
    color: #E74C3C;
    top: 11rem;
    left: 7rem;
}

#fbIcon3 {
    text-decoration: none;
    color: #E74C3C;
    margin-right: 50px;
}

#fbIcon3:hover {
    color: white;
    cursor: pointer;
}

#instagramIcon3 {
    text-decoration: none;
    color: #E74C3C;
    margin-right: 50px;
}

#instagramIcon3:hover {
    color: white;
    cursor: pointer;
}

#linkedinIcon3 {
    text-decoration: none;
    color: #E74C3C;
    margin-right: 50px;
}

#linkedinIcon3:hover {
    color: white;
    cursor: pointer;
}

#twitterIcon3 {
    text-decoration: none;
    color: #E74C3C;
    margin-right: 50px;
}

#twitterIcon3:hover {
    color: white;
    cursor: pointer;
}


#messageSection > div, input {
    position: relative;
    background-color: #242C54;
    width: 570px;
    height: 40px;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    left: 666px;
    top: -125px;
    border: 1px solid #242c54;
}
#messageSection{
    left: 5%;
    top: 20rem;
    right: 0;
    margin: auto;
    position: absolute;
}

#txtSubject {
    top: -137px;
}

#message {
    top: -147px;
    height: 150px;
}

#button2 {
    position: relative;
    height: 40px;
    width: 120px;
    top: -155px;
    left: 670px;
    background-color: #161B36;
    border: 1px solid #E74C3C;
    color: #E74C3C;
}

/*=============================================footer=============================================*/
footer {
    position: relative;
    background-color: #242C54;
    bottom: 0;
    height: 45px;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
}

footer > small {
    position: relative;
    top: 10px;
}

/*=====================responsive======================*/
@media all and (max-width: 1024px) {
    body {
        position: relative;
    }

    main {
        position: relative;
    }

    nav {
        position: relative;
    }

    nav > ul {
        display: none;
    }

    nav > h1:nth-child(1) {
        /*position: relative;*/
        left: 150px;
        /*font-size: 45px;*/
        /*left: 45vw;*/
    }

    nav > h1:nth-child(2) {
        /*position: relative;*/
        left: 185px;
        /*font-size: 45px;*/
        /*left: 55vw;*/
    }

    /*===========================================*/
    .pageOne {
        /*width: max-content;*/
        width: 425px;
        height: 800px;
    }

    .pageOne > img {
        position: absolute;
        top: 163px;
        left: 0;
        margin: auto;
        right: 0;

    }

    #icons {
        display: none;
    }

    .pageOne > section:nth-child(1) > h1 {
        top: 150px;
        width: 279px;
        left: 80px;
        font-size: 18px;
    }

    .wrapper {
        /*top: 265px;*/
        /*left: 70px;*/
        display: none;
    }

    .pageTwo {
        position: relative;
        width: 425px;
        /*width: max-content;*/
    }

    #pageTwoName {
        display: inline-block;
        left: 130px;
        top: 0;
    }

    #myImg2 {
        display: none;
    }

    #aboutMeSection2 {
        top: 0;
        bottom: 101px;
        left: 12px;
        width: 400px;
    }

    #DownloadCV {
        position: relative;
        left: 140px;
        bottom: -20px;
    }

    #icons2 {
        position: absolute;
        font-size: 20px;
        color: white;
        top: 110px;
        left: 80px;
    }

    #aboutMeText {
        font-size: 14px;
        text-align: center;
        color: white;
        font-family: sans-serif;
        width: 360px;
    }

    #aboutMeSection1 {
        top: 0;
        bottom: 101px;
        left: 12px;
        width: 400px;
        z-index: 1;
    }

    #aboutMeSection2 > dl > dt {
        display: inline-block;
        font-size: 14px;
        left: 50px;
        top: -32px;
        padding-bottom: 0px;
    }

    #aboutMeSection2 > dl > dd {
        font-size: 14px;
        left: 85px;
        top: -53px;
        width: 155px;
    }

    /*===========================================*/
    .pageThree {
        width: 425px;
    }

    #pageThreeName {
        display: inline-block;
        left: 130px;
        top: 0;
    }

    #line1, #line2, #line3, #line4, #line5 {
        display: none;
    }

    #mainLine {
        left: -361px;
        right: 0;
        margin: auto;
        /*left: 586px;*/
    }

    #circle1, #circle2, #circle3, #circle4, #circle5 {
        left: -361px;
        right: 0;
        margin: auto;
    }

    #eduIJSE {
        left: -140px;
    }

    #eduFUTUREips {
        left: 40px;
    }

    #eduGINARATHANA {
        left: -350px;
    }

    #eduDHARMAPALA {
        left: 40px;
    }

    #eduPIYARATHANA {
        left: -315px;
    }

    #eduPIYARATHANA > img {
        left: 400px;
        top: 985px;
        width: 85px;
        height: 100px;
    }

    #eduPIYARATHANA > figcaption {
        top: 891px;
        left: 365px;
        font-size: 14px;
    }

    #eduPIYARATHANA > h1 {
        top: 930px;
        right: -254px;
    }

    #eduDHARMAPALA > img {
        left: 40px;
        top: 775px;
        height: 114px;
        position: relative;
    }

    #eduDHARMAPALA > h1 {
        top: 740px;
        right: 146px;
    }

    #eduDHARMAPALA > figcaption {
        top: 676px;
        right: -7px;
    }

    #eduGINARATHANA > img {
        left: 428px;
        top: 616px;
        width: 160px;
        height: 76px;
        position: relative;
    }

    #eduGINARATHANA > h1 {
        position: relative;
        top: 600px;
        right: -212px;
        font-size: 17px;
    }

    #eduGINARATHANA > figcaption {
        display: none;
    }

    #eduFUTUREips > h1 {
        top: 370px;
        left: -128px;
    }

    #eduFUTUREips > img {
        left: 37px;
        top: 422px;
        height: 122px;
    }

    #eduFUTUREips > figcaption {
        top: 281px;
        left: 1px;
    }

    #eduIJSE > h1 {
        top: 242px;
        left: -11px;
    }

    #eduIJSE > img {
        left: 214px;
        top: 244px;
        height: 75px;
    }

    #eduIJSE > figcaption {
        position: relative;
        top: 234px;
        left: 70px;
    }

    /*===========================================*/
    .pageFour {
        width: 425px;
    }

    #pageFourName {
        display: inline-block;
        left: 150px;
        top: 0;
    }

    #skillDescription {
        left: 12px;
        width: 400px;
        top: 0;
    }

    #skillText {
        top: 40px;
        width: 370px;
        left: 19px;
        position: relative;
        font-size: 14px;
        text-align: center;
        color: white;
        font-family: sans-serif;
    }

    #skillList {
        width: 400px;
        left: 12px;
        height: 255px;
        top: 0;
    }

    #skillList > ul > div {
        width: 260px;
        height: 7px;
        left: 52px;
    }

    #skillList > ul > li {
        position: relative;
        top: -4px;
        display: inline;
        left: -17px;
        font-size: 25px;
        margin: 10px;
        color: white;
        text-decoration: none;
    }

    #parameter1 {
        width: 104px;
    }

    #parameter2 {
        width: 130px;
    }

    #parameter3 {
        width: 78px;
    }

    #parameter4 {
        width: 156px;
    }

    #parameter5 {
        width: 146px;
    }

    #parameter6 {
        width: 52px;
    }

    /*===========================================*/
    .pageFive {
        width: 425px;
        height: 685px;
    }

    #pageFiveName {
        display: inline-block;
        left: 150px;
        top: 0;
    }

    #ProjectImg2 {
        position: relative;
        display: inline;
        padding-right: 10px;
        left: 72px;
        top: 0;
    }

    #ProjectImg1 {
        position: relative;
        display: inline;
        left: 12px;
        top: -20px;
    }

    #ProjectImg3 {
        position: relative;
        display: inline;
        left: 10px;
        top: 20px;
    }
    .imageSlider {
        position: absolute;
        left: 0;
        right: 0;
        top: 85px;
        margin: auto;
        height: 247px;
        width: 389px;
        overflow: hidden;


    }

    #showMore {
        top: 340px;
        left: 20px;
        transform: rotate(270deg);
    }

    #TEAMMATES_name {
        display: inline-block;
        left: -97px;
        top: 420px;
    }

    #teammates {
    }
    #teammates > figure {
        position: relative;
        display: inline-block;
        width: 313px;
        height: 387px;
        top: 400px;
        background-color: #242C54;
    }
    #teammates > figure:nth-child(1) {
        left: 10px;
    }

    #teammates > figure:nth-child(2) {
        left: 10px;
    }

    #teammates > figure:nth-child(3) {
        left: 10px;
    }

    #heshanInfo {
        position: absolute;
        top: 303px;
        left: -180px;
    }

    #udeshInfo {
        position: absolute;
        top: 303px;
        left: -210px;
    }

    #prabodInfo {
        position: absolute;
        top: 303px;
        left: -220px;
    }

    /*===========================================*/
    .pageSix {
        width: 425px;
        top: 1230px;
        height: 1400px;
    }

    #pageSixeName {
        display: inline-block;
        left: 150px;
        top: 0;
    }

    .pageSix > a > figure {
        display: inline-block;
        position: relative;
        width: 100px;
        height: 100px;
        /*top: 80px;*/
        /*left: 0;*/
        background-color: #161B36;
        box-shadow: #242C54;
    }

    .pageSix > a > figure > img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    #graphicFig {
        top: 80px;
        left: -20px;
    }

    #ui\,uxFig {
        top: 148px;
        left: 120px;
    }

    #webFig {
        top: 350px;
        left: -62px;
    }

    #appFig {
        top: 440px;
        left: 124px;
    }

    #seoFig {
        top: 630px;
        left: -61px;
    }

    #seFig {
        top: 700px;
        left: 125px;
    }

    .pageSix > a > figure > figcaption {
        position: relative;
        font-size: 20px;
        color: #E74C3C;
        font-family: sans-serif;
        text-align: center;
        top: 112px;
    }

    /*===========================================*/
    .pageSeven {
        width: 425px;
        top: 1230px;
        height: 649px;
    }

    #pageSevenName {
        display: inline-block;
        left: 150px;
        top: 0;
    }

    #messageSection {
        display: none;
    }

    #contactLinks > p {
        font-size: 20px;
        color: white;
        left: 7px;
        margin-left: 0;
        position: relative;
        font-family: sans-serif;
        display: inline-block;
        text-decoration: none;
    }

    #contactLinks > i {
        position: relative;
        font-size: 30px;
        color: #E74C3C;
        left: 35px;

    }

    #nameIcon {
        top: 55px;
    }

    #address1 {
        top: 110px;
    }

    #addressIcon {
        top: 88px;
    }

    #address2 {
        top: 146px;
    }

    #emailIcon {
        top: 134px;
    }

    #address3 {
        top: 194px;
    }

    #icons3 {
        position: absolute;
        font-size: 30px;
        color: #E74C3C;
        top: 553px;
        left: 75px;
        width: 330px;
    }

    /*===========================================*/
    footer {
        bottom: -1184px;
        width: 425px;
        display: inline-block;

    }
}